:host {
  display: flex;
  gap: 10px;
  height: 100%;
  flex-direction: column;
}

.values-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 33%));
  padding: 5px;
  margin: auto;
  width: 100%;
}

.column {
  display: flex;
  flex-flow: column;
  gap: 10px;
  align-items: center;
  height: fit-content;
}

.fields-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(2, 45%);
  padding: 5px;
  margin: auto;
  width: 100%;
}

.canvas-container,
.formula-inputs {
  display: flex;
  flex-flow: column;
  gap: 10px;
  align-items: center;
}

.formula-inputs {
  height: fit-content;
}

.canvas-container {
  height: 100%;
}

#graphic-container {
  flex: 1 1 auto;
  border: 1px solid black;
}

.equation {
  display: flex;
  gap: 5px;
  align-items: center;

  .division {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    hr {
      width: 100%;
    }
  }
}
