<mat-toolbar color="primary">
  <span>{{ env.appName }}</span>
  <div class="links-container">
    <a
      *ngFor="let link of links"
      [routerLink]="link.path"
      routerLinkActive="active"
      class="link">
      {{ link.label }}
    </a>
  </div>
  <span class="spacer"></span>

  <mat-slide-toggle
    #viewMode
    [checked]="isFullScreen"
    (change)="changeFullScreen($event.checked)"></mat-slide-toggle>

  <button
    mat-icon-button
    class="hamburger-menu-toggle"
    aria-label="Navigation menu toggle"
    [matMenuTriggerFor]="hamburgerMenu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #hamburgerMenu="matMenu">
    <a
      *ngFor="let link of links"
      [routerLink]="link.path"
      routerLinkActive="active"
      mat-menu-item>
      {{ link.label }}
    </a>
  </mat-menu>
</mat-toolbar>
